[Desktop Entry]
Name=Frosted
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-Website=https://store.kde.org/p/1980674
X-KDE-PluginInfo-Name=Frosted
X-KDE-PluginInfo-Version=1.5.10
X-Plasma-API=5.0
