[Desktop Entry]
Name=Windows-Eleven-Dark
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Name=Windows-Eleven-Dark
X-KDE-PluginInfo-Version=1.6.2
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-License=GPL 3.0
X-KDE-PluginInfo-Website=https://store.kde.org/p/1989107/
X-KDE-PluginInfo-EnabledByDefault=true



