[Desktop Entry]
Name=Amethyst Haze
X-KDE-PluginInfo-Name=Amethyst.Haze
X-KDE-PluginInfo-Version=1.1.8
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-Website=https://store.kde.org/p/2218601
X-KDE-PluginInfo-EnabledByDefault=true
